@import url("photographer.css");
@import url("style.css");
@import url("form.css");

.lightbox {
  width: 90%;
  height: 90vh;
  margin: 0 10%;
  position: absolute;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-box {
  width: 30px;
  height: 50px;
  color: var(--primary);
  fill: currentColor;
  margin: 30px;
}

.close_lightbox {
  color: var(--primary);
  fill: currentColor;
  position: absolute;
  top: 0;
  right: 8%;
  width: 30px;
  height: 30px;
}

.close_lightbox:hover {
  cursor: pointer;
}

.lightbox-image {
  margin: auto;
  width: 100%;
  max-width: 700px;
  height: 90vh;
  object-fit: cover;
}

.lightbox-video {
  margin: auto;
  width: 100%;
  max-width: 700px;
  height: 90vh;
  object-fit: cover;
}

.lightbox-figure figcaption {
  color: var(--primary);
  font-size: 1.2em;
  margin-left: 0;
}
