@import url("photographer.css");
@import url("style.css");
@import url("form.css");

#lightbox-container {
  width: 90%;
  height: 90vh;
  margin: auto;
  position: absolute;
  top: 5vh;
  z-index: 2;
  margin: 5%;
}

.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-box {
  width: 30px;
  height: 50px;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.arrow-box:hover {
  background-color: var(--secondary);
}

.arrow-box path.svg {
  fill: red;
}

.lightbox-img {
  margin: auto;
  width: 100%;
  max-width: 700px;
  height: 90vh;
  object-fit: cover;
}
