@import url("style.css");
@import url("form.css");
@import url("lightbox.css");

/* MOBILE */

/*photographerPage-header*/
.photographerPage-header {
  height: 60px;
  margin: 20px 0 0 10px;
}
/******
PHOTOGRAPHER HEADER
******/
.header-wrapper {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}

.photographer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary);
  border-radius: 5px;
}

.contact_button:hover {
  cursor: pointer;
  background-color: var(--secondary);
  color: black;
}
.contact_button:focus {
  background-color: var(--secondary);
  color: black;
}

.PhotographerProfile {
  height: 14em;
  width: 14em;
  border-radius: 14em;
  object-fit: cover;
  margin-top: 20px;
}

.PhotographerName {
  color: var(--secondary);
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.PhotographerLocation {
  color: var(--primary);
  font-size: 1.5em;
}

.PhotographerTagline {
  font-size: 1.1em;
  font-weight: 300;
}

/******
FILTER
******/
#filter-wrapper {
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

label {
  font-size: 1.2em;
  padding-right: 20px;
}

.select {
  width: 170px;
  border: 1px solid #fff;
  border-radius: 0.3em;
  padding: 0.2em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--primary);
}

select {
  background-color: var(--primary);
  border: none;
  padding: 0.6em;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  color: #fff;
}

/******
MEDIA
  grid-auto-rows: 375px;
******/
.media {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  width: 100%;
}

.media-element {
  width: 95%;
  margin: auto;
  max-width: 350px;
  cursor: pointer;
}

.photo,
.video {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

figcaption {
  max-width: 350px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}

.media-title,
.likes {
  color: var(--primary);
  font-weight: 200;
}

.heart-content {
  width: 55px;
  display: flex;
  justify-content: space-evenly;
}

.svg-box {
  width: 1.2em;
  height: 1.2em;
  color: var(--primary);
}

/*INFO BOX */
.likes-price aside {
  color: black;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px 10px 0 0;
  height: 60px;
  width: 20%;
  min-width: 170px;
  position: fixed;
  bottom: 0;
  right: 6%;
  padding: 5px;
}

.heart-contentInBox {
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.svg-boxInBox {
  width: 1.2em;
  height: 1.2em;
}

/* TABLET VERSION */
@media only screen and (min-width: 716px) {
  /* HEADER */
  .photographerPage-header {
    height: 80px;
  }

  /* MAIN */
  #main {
    width: 95%;
  }

  .header-wrapper {
    flex-direction: row;
    border-radius: 0.4em;
    padding: 20px;
  }

  .photographer-info {
    align-items: flex-start;
  }

  .PhotographerName {
    font-size: 2em;
  }

  .PhotographerLocation {
    font-size: 1.2em;
  }

  .PhotographerTagline {
    font-size: 0.9em;
  }

  .contact_button {
    font-size: 18px;
    padding: 7px;
    width: 160px;
    height: 60px;
  }

  .media {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* DESKTOP VERSION */
@media only screen and (min-width: 1100px) {
  #main {
    width: 80%;
  }

  .photographer-info {
    padding: 0;
  }

  .PhotographerName {
    font-size: 2.8em;
    font-weight: 200;
  }

  .PhotographerLocation {
    font-size: 1.6em;
  }

  .PhotographerTagline {
    font-size: 1.2em;
    font-weight: 100;
  }

  #filter-wrapper {
    justify-content: flex-start;
  }
  .media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* LARGE DESKTOP VERSION */
@media only screen and (min-width: 1500px) {
  .media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
