@import url("photographer.css");
@import url("lightbox.css");
@import url("form.css");
*,
*::before,
*::after {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary: #901c1c;
  --primary-light: #d3573c;
  --secondary: #da8776;
  --tertiary: #525252;
}

/* MOBILE VERSION */
/* HEADER */
.mainPage-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 10px;
}

.mainPage-header h1 {
  font-size: 1em;
  color: var(--primary);
  margin-right: calc(0.1rem + 3vw);
}

.mainPage-header a:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  text-decoration: none;
  border: 3px dotted var(--primary);
}

.logo {
  height: 40px;
  margin-left: calc(0.1rem + 3vw);
}

/* MAIN */
main {
  margin: auto;
  width: 100%;
}

#photographer_section {
  grid-template-columns: 1fr;
}

#article-heading {
  display: none;
}

.card-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.card-link [role="link"] {
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}

.card-link[role="link"]:focus {
  outline: 2px dotted var(--primary);
}

.photographer_card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.profile {
  height: 16em;
  width: 16em;
  border-radius: 16em;
  object-fit: cover;
}

.profileName {
  color: var(--primary-light);
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.photographer_card p {
  margin: 0;
}

.location {
  color: var(--primary);
  font-size: 1.5em;
}

.tagline {
  font-size: 1.1em;
  font-weight: 300;
}

.price {
  color: var(--tertiary);
  font-size: 0.8em;
  font-weight: 300;
}

/* TABLET VERSION */
@media only screen and (min-width: 716px) {
  /* HEADER */
  .mainPage-header h1 {
    font-size: 1.5em;
    margin-right: calc(0.3rem + 3vw);
  }

  .logo {
    margin-left: calc(0.3rem + 3vw);
  }

  /* MAIN */
  main {
    width: 82%;
    margin: auto;
  }
  #photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .photographer_card {
    padding-bottom: 30px;
  }

  .profile {
    height: 14em;
    width: 14em;
    border-radius: 14em;
  }

  .profileName {
    font-size: 1.9em;
    font-weight: 300;
  }

  .location {
    color: var(--primary);
    font-size: 1.1em;
  }

  .tagline {
    font-size: 1em;
    font-weight: 300;
  }

  .price {
    color: var(--tertiary);
    font-size: 0.8em;
    font-weight: 300;
  }
}

/* DESKTOP VERSION */
@media only screen and (min-width: 1100px) {
  /* HEADER */
  .mainPage-header {
    height: 110px;
  }

  .mainPage-header h1 {
    font-size: 2em;
  }

  .logo {
    height: 65px;
    margin-left: calc(0.4rem + 3vw);
  }
  /* MAIN */

  main {
    width: 85%;
  }

  #photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
  }
}

/* LARGE DESKTOP VERSION */
@media only screen and (min-width: 1300px) {
  .mainPage-header h1 {
    font-size: 2.5em;
    color: var(--primary);
  }
  main {
    width: 70%;
  }
}
